<%= form_for(stay) do |f| %>
  <% if stay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stay.errors.count, "error") %> prohibited this stay from being saved:</h2>

      <ul>
      <% stay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :note %>
    <%= f.text_field :note, class: "form-control"%>
    <p class="help-block">Leave a note if there's anything others need to know. Otherwise, just hit the button below.</p>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary", :value => "Add me to the list"  %>
  </div>
<% end %>
