<%= form_for(stay) do |f| %>
  <% if stay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stay.errors.count, "error") %> prohibited this stay from being saved:</h2>

      <ul>
      <% stay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :note %> (optional)
    <%= f.text_field :note, class: "form-control"%>
    <p class="help-block">Leave a note if there's something special you need to tell other staff. Otherwise, just leave it blank and hit the button below.</p>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary", :value => "Add " + current_user.name + " to the list" %>
  </div>
<% end %>
