<% if user_signed_in? %>
  <%= link_to "I'm staying late", new_stay_path, class: "btn btn-primary btn-lg"  %>
<% end %>
<h1>Stays</h1>
<div id="stays" class="transitions-enabled">
  <% @stays.each do |stay| %>
    <div class="box panel panel-default" >
      <div class="panel-heading">
        <%= stay.user.email if stay.user %>
      </div>
      <% if stay.note != "" %>
        <div class="panel-body">
          <%= stay.note %>
          <!--<%= link_to 'Show', stay %>-->
        </div>
      <% end %>
      <% if stay.user == current_user %>
        <div class="panel-footer">
          <%= link_to edit_stay_path(stay) do %>
            <span class="glyphicon glyphicon-edit"></span> Edit Note<% end %>             
          &nbsp;
          <%= link_to stay, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-home"></span> Leave
          <% end %>             
        </div>
      <% end %>
    </div>
  <% end %>
</div>