<h1>Staying late tonight</h1>
<div id="stays" class="transitions-enabled">
  <% @stays.each do |stay| %>
    <div class="box panel panel-default" >
      <div class="panel-heading">
        <% time = stay.created_at.in_time_zone("Central Time (US & Canada)") %>
        <% date = time.strftime("%d")%>
        <% hr   = time.strftime("%l")%>
        <% min  = time.strftime("%M")%>
        <% apm  = time.strftime("%P")%>
        <h2 class="panel-title"><span class="glyphicon glyphicon-user"></span> <%= stay.user.name %>
          <% if date != Time.now.strftime("%d") %>
            (from <%= time.strftime("%A") %>)
          <% else %>
            <small><%= hr %>:<%= min %><%= apm %></small>
          <% end %>
        </h2>
      </div>
      <% if stay.note != "" %>
        <div class="panel-body">
          <%= stay.note %>
        </div>
      <% end %>
      <% if stay.user == current_user %>
        <div class="panel-footer">
          <%= link_to edit_stay_path(stay) do %>
            <span class="glyphicon glyphicon-edit"></span> Edit Note<% end %>
          &nbsp;
          <%= link_to stay, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-home"></span> Leave
          <% end %>             
        </div>
      <% end %>
    </div>
  <% end %>
</div>