<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<h1>Today's Scheduled Groups</h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#sudekum">Sudekum</a></li>
  <li><a data-toggle="tab" href="#benson">Benson</a></li>
  <li><a data-toggle="tab" href="#eureka">Eureka</a></li>
  <li><a data-toggle="tab" href="#cosmic">Cosmic</a></li>
  <li><a data-toggle="tab" href="#jackwood">Wood</a></li>
  <li><a data-toggle="tab" href="#yellow">Yellow</a></li>
  <li><a data-toggle="tab" href="#green">Green</a></li>
  <li><a data-toggle="tab" href="#blue">Blue</a></li>
  <li><a data-toggle="tab" href="#skyline">Skyline</a></li>
</ul>

<% xml = get_programs() %>

<div class="tab-content">
  <div id="sudekum" class="tab-pane fade in active">
    <%= populate_from_file(xml,"Planetarium")%>
  </div>
  <div id="benson" class="tab-pane fade">
    <%= populate_from_file(xml,"Benson Lab")%>
  </div>
  <div id="eureka" class="tab-pane fade">
    <%= populate_from_file(xml,"Eureka Theater")%>
  </div>
  <div id="cosmic" class="tab-pane fade">
    <%= populate_from_file(xml,"Cosmic Rays")%>
  </div>
  <div id="jackwood" class="tab-pane fade">
    <%= populate_from_file(xml,"Jack Wood Hall")%>
  </div>
  <div id="yellow" class="tab-pane fade">
    <%= populate_from_file(xml,"Yellow Classroom")%>
  </div>
  <div id="green" class="tab-pane fade">
    <%= populate_from_file(xml,"Green Classroom")%>
  </div>
  <div id="blue" class="tab-pane fade">
    <%= populate_from_file(xml,"Blue Classroom")%>
  </div>
  <div id="skyline" class="tab-pane fade">
    <%= populate_from_file(xml,"Skyline Cafe")%>
  </div>
</div>

