<% unless user_signed_in? %>
  <div class="jumbotron center">
    <div class="form-group">
      <%= link_to image_tag("asclogo.png" ), root_path %>
    </div>
    <h1>Staff Resources</h1>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  </div>
<% else %>
  <% @refresh="60" %>
  <% user = ENV['altru_user']%>
  <% pass = ENV['altru_pass']%>
  <% require 'open-uri' #Wrapper to open web-based data with open() function %>
  
  <% galink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=1514f413-e470-497d-8261-f5ba8b3393e8"%>
  <% gaodata = open(galink, http_basic_authentication: [user, pass]).read %>
  <% gajson = JSON.parse gaodata %>
  <% ga2 = 'something' %>
  <% gajson["value"].each do |ga|%>
    <% if ga['SUMSalesOrderItemQuantity'].nil? %>
      <% ga2 = 0%>
    <% else %>
      <% ga2 = ga['SUMSalesOrderItemQuantity']%>
    <%end%>
  <%end%>

  <% grouplink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=98f9a274-4ffa-4ca0-b079-8ca138109dd2"%>
  <% groupodata = open(grouplink, http_basic_authentication: [user, pass]).read %>
  <% groupjson = JSON.parse groupodata %>
  <% group2 = 0 %>
  <% groupjson["value"].each do |group|%>
    <% date = DateTime.strptime(group['Arrivaldate'],"%Y-%m-%dT%H:%M:%S")%>
    <% if date.strftime("%A %-m/%-d") == DateTime.now.in_time_zone("Central Time (US & Canada)").strftime("%A %-m/%-d")%>
      <% group2 = group['SUMItinerariesAttendeesQuantity']%>
    <%end%>
  <%end%>

  <% othergrouplink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=f3610c61-a365-4998-a95a-fd6f737bc916"%>
  <% othergroupodata = open(othergrouplink, http_basic_authentication: [user, pass]).read %>
  <% othergroupjson = JSON.parse othergroupodata %>
  <% othergroup = 0 %>
  <% othergroupjson["value"].each do |group|%>
    <% date = DateTime.strptime(group['Arrivaldate'],"%Y-%m-%dT%H:%M:%S")%>
    <% if date.strftime("%A %-m/%-d") == DateTime.now.in_time_zone("Central Time (US & Canada)").strftime("%A %-m/%-d")%>
      <% othergroup = group['SUMItinerariesAttendeesQuantity']%>
    <%end%>
  <%end%>

  <% pltmlink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=6453bc96-899d-4897-8eb9-cad8d3ce3641"%>
  <% pltmodata = open(pltmlink, http_basic_authentication: [user, pass]).read %>
  <% pltmjson = JSON.parse pltmodata %>
  <% pltm2 = 0 %>
  <% pltmjson["value"].each do |pltm|%>
    <% sold = pltm['TicketQuantity'].to_i%>
    <% refunded = pltm['TicketNumberRefunded'].to_i%>
    <% sold -= refunded %>
    <% pltm2 += sold%>
  <%end%>

  <% weatherlink = "http://signs.adventuresci.org/data/weather.json"%>
  <% weatherjson = JSON.parse open(weatherlink).read %>

  <% sciencelive = open('https://spreadsheets.google.com/feeds/list/1sHG-MldUpOushzh5VpYiycrCl1UhPjfLlzrV-IfJYj0/od6/public/values').read%>
  <% sciencelive.gsub! '<gsx:', '<'%>
  <% sciencelive = Nokogiri::XML(sciencelive)%>
<h1>Today’s Guests</h1> 
  <div class="row">
    
    <div class="col-xs-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
            <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong><%=ga2%></strong></h1>
            <p>general admission</p>
          </div>
          <%= link_to itinerary_path do %>
            <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
              <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <strong><%=group2%></strong></h1>
              <p>group</p>
            </div>
          <% end %>
          <%= link_to ticketsales_path do %>
            <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
              <h1><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <strong><%=pltm2%></strong></h1>
              <p>planetarium</p>
            </div>
          <% end %>
          <%= link_to itinerary_path do %>
            <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center">
              <h1><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <strong><%=othergroup%></strong></h1>
              <p>rental/birthday/sleepover</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!--div class="col-md-3 col-sm-6 col-xs-12">
      <h2>Today</h2>
      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong><%=ga2%></strong></h1>
      <p>guest admissions</p>
      <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <strong><%=group2%></strong></h1>
      <p><%= link_to "reserved in groups", itinerary_path %></p>
      <h1><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <strong><%=pltm2%></strong></h1>
      <p><%= link_to "planetarium tickets sold", ticketsales_path %></p>
      <h1><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <strong><%=othergroup%></strong></h1>
      <p><%= link_to "rental/party/sleepover guests", itinerary_path %></p>




      <% if Stay.count > 0 %>
        <% link_to new_stay_path, class: "btn btn-primary" do %>
          Staying late
          <span class="badge"><span class="glyphicon glyphicon-user"></span> <%= Stay.count %></span>
        <% end %>
      <% else %>
        <% link_to new_stay_path, class: "btn btn-default" do %>
          Staying late
        <% end %>
      <% end %>
    </div-->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h1>Weather</h1>
      <script type='text/javascript' src='https://darksky.net/widget/default-small/36.1464,-86.7756/us12/en.js?width=159&height=&title=Nashville, TN&textColor=333333&bgColor=transparent&transparency=true&skyColor=81be41&fontFamily=Arial&customFont=https://fonts.googleapis.com/css\family\\Muli&units=us'></script>
      <h3 style="margin-top:0;"><%= weatherjson["minutely"]["summary"]%></h3>
      <!--<p>Feels like: <strong><%= weatherjson["currently"]["apparentTemperature"].round%>&deg;F</strong><br/>
        Today's high: <strong><%= weatherjson["daily"]["data"][0]["temperatureMax"].round%>&deg;F</strong>
      </p>-->

      <p><strong>Low:</strong> <%= weatherjson["daily"]["data"][0]["temperatureMin"].round%>&deg; <strong>High:</strong> <%= weatherjson["daily"]["data"][0]["temperatureMax"].round%>&deg;</p>
      <p><%= weatherjson["hourly"]["summary"]%> <%= weatherjson["daily"]["summary"]%></p>
      <!--h2>Science Live</h2>
      <% sciencelive.css('entry').each do |node|%>
        <% if node.at('date').text == DateTime.now.in_time_zone("Central Time (US & Canada)").strftime("%A, %B %-d, %Y") %>
          <% line1 = node.at('sciencelivea').text %>
          <% line2 = node.at('scienceliveb').text %>
          <% staffer = node.at('educators').text %>
          <% info = node.at('additionalinfo').text %>
          <p><%= line1.sub(/\*(.*)\*/,'<strong>\1</strong>').html_safe%></p>
          <p><%= line2.sub(/\*(.*)\*/,'<strong>\1</strong>').html_safe%></p>
          <p><strong>Staff:</strong> <%= staffer.html_safe%></p>
          <p><strong>Additional Info:</strong> <%= info.html_safe%></p>
        <%end%>
      <%end%>
      <div class="btn-group" role="group" aria-label="Science Live Links">
        <%= link_to "View", "http://signs.adventuresci.org/sciencelive/", class: "btn btn-default", :target => "_blank"  %>
        <%= link_to "Edit", "https://docs.google.com/spreadsheets/d/1sHG-MldUpOushzh5VpYiycrCl1UhPjfLlzrV-IfJYj0/edit#gid=0", class: "btn btn-default", :target => "_blank"  %>
      </div-->
    </div>
    <!--div class="clearfix visible-sm-block"></div-->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h1>Links</h1>
      <div class="list-group" role="group" aria-label="...">
        <%= link_to "Altru", "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/webui/webshellpage.aspx?databaseName=14AFCB42-1379-457A-AD0C-0CD6166E17F3", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Basecamp", "https://launchpad.37signals.com", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Office 365", "http://login.microsoftonline.com", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Slack", "http://adventuresci.slack.com", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "SunTrust Corporate Card", "https://enterprisespendplatform.suntrust.com/account/login", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Website", "http://adventuresci.org", class: "list-group-item", :target => "_blank"  %>
        
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <h1>Staff Tools</h1>
      <div class="list-group" role="group" aria-label="...">
        <%= link_to "Timecard (Employee)", "https://adventuresci.attendanceondemand.com/ess/", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Timecard (Supervisor)", "https://adventuresci.attendanceondemand.com/operator/", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Payroll (Inova)", "https://inovapayroll.evolutionpayroll.com/ess#/login", class: "list-group-item", :target => "_blank"  %>
        <%= link_to "Benefits <span style='white-space: nowrap'>(Employee Navigator)</span>".html_safe, "https://www.employeenavigator.com/benefits/Account/Login", class: "list-group-item", :target => "_blank"  %>
      </div>
    </div>
  </div>
<% end %>

