<% @title="Today's Group Itineraries" %>

<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<%file = open('http://signs.adventuresci.org/data/programs.xml').read%>
<%file.gsub! '<d:', '<'%>
<%file.gsub! '<m:', '<'%>
<%xml = Nokogiri::XML(file)%>
<% runningschool = "reset" %>
<% runningitinerary = "reset" %>

<%xml.css('entry').each do |node|%>
  <% arrivaltime = DateTime.strptime(node.at('Arrivaltime').text,"%H%M")%>

  <%# Here we're at the start of each day's content %>

  <%# Write a school header, once per school %>
  <% if node.at('Name').text != runningschool%>
    <div class="row">
      <div class="col-xs-12">
        <div class="hidden-xs">
          <h3><%= node.at('Name').text.split(" - ").first%> <small><%= arrivaltime.strftime("%-I:%M")%> arrival, lead is <%= node.at('ItinerariesLeadername').text%></small></h3>
        </div>
        <div class="visible-xs">
          <h3><span class="glyphicon glyphicon-home"></span> <%= node.at('Name').text.split(" - ").first%><br/><small><%= arrivaltime.strftime("%-I:%M")%> arrival, lead is <%= node.at('ItinerariesLeadername').text%></small></h3>
        </div>
      </div>
    </div>
    <% runningschool = node.at('Name').text %>
  <%end%>

  <%# Check if school has programs beyond General Admission, create itineraries %>
  <% if node.at('ItinerariesItemsProgramEventsName').text != ""%>
    <% programtime = DateTime.strptime(node.at('ItinerariesItemsProgramEventsStarttime').text,"%H%M")%>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <% if node.at('ItinerariesName').text != runningitinerary %>
            <strong>Itinerary for <%= node.at('ItinerariesName').text %></strong>
            (<%= node.at('SUMItinerariesAttendeesQuantity').text%> guests)
            <% runningitinerary = node.at('ItinerariesName').text %>
          <%end%>
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= programtime.strftime("%-I:%M")%>
        </div>
        <div class="col-sm-4 col-xs-10">
          <%= node.at('ItinerariesItemsProgramEventsName').text %>
        </div>
        <div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-2">
          <em><%= node.at('ItinerariesItemsProgramEventsLocationsName').text %></em>
        </div>
      </div>
  <%elsif !node.next.nil? %>
    <%if node.at('ItinerariesName').text != node.next.at('ItinerariesName').text %>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-xs-12">
          <strong>Floor exploration only</strong> (<%= node.at('SUMItinerariesAttendeesQuantity').text%> guests)
        </div>
      </div>
    <%end%>
  <% elsif node.next.nil? %>
    <%if !node.previous.at('ItinerariesName').nil? %>
      <%if node.at('ItinerariesName').text != node.previous.at('ItinerariesName').text %>
        <div class="row">
          <div class="col-sm-11 col-sm-offset-1 col-xs-12">
            <strong>Floor exploration only</strong> (<%= node.at('SUMItinerariesAttendeesQuantity').text%> guests)
          </div>
        </div>
      <%end%>
    <%else%>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-xs-12">
          <strong>Floor exploration only</strong> (<%= node.at('SUMItinerariesAttendeesQuantity').text%> guests)
        </div>
      </div>      
    <%end%>
  <%end%>

<%end%>
