<% @title="Today's Group Itineraries" %>

<% user = ENV['altru_user']%>
<% pass = ENV['altru_pass']%>
<% link = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=9a258063-2180-42cf-b4fc-8bdd278e5917"%>
<% odata = open(link, http_basic_authentication: [user, pass]).read %>
<% json = JSON.parse odata %>

<% runningschool = "something"%>
<% runningitinerary = "something"%>

<% json["value"].each do |json|%>
  <% if json['Arrivaltime'] == '    ' %> <%# Altru's strings are always 4 characters for this field. If no time, then it's 4 spaces%>
    <% arrivaltime = "Unspecified"%>
  <% else %>
    <% arrivaltime = DateTime.strptime(json['Arrivaltime'],"%H%M")%>
    <% arrivaltime = arrivaltime.strftime("%-I:%M")%>
  <%end%>

  <%# Here we're at the start of each day's content %>

  <%# Write a school header, once per school %>
  <% if json['Name'] != runningschool%>
    <div class="row">
      <div class="col-xs-12">
        <div class="hidden-xs">
          <h3><%= json['Name'].split(" - ").first%> <small><%= arrivaltime%> arrival, lead is <%= json['ItinerariesLeadername']%></small></h3>
        </div>
        <div class="visible-xs">
          <h3><span class="glyphicon glyphicon-home"></span> <%= json['Name'].split(" - ").first%><br/><small><%= arrivaltime%> arrival, lead is <%= json['ItinerariesLeadername']%></small></h3>
        </div>
      </div>
    </div>
    <% runningschool = json['Name'] %>
  <%end%>

  <%# Check if school has programs beyond General Admission, create itineraries %>
  <div class="row">
    <% if json['ItinerariesName'] != runningitinerary %>
      <div class="col-sm-5 col-xs-12">
        <strong><%= json['ItinerariesName'] %></strong>
        (<%= json['SUMItinerariesAttendeesQuantity']%> guests)
        <% runningitinerary = json['ItinerariesName'] %>
      </div>
    <%end%>
    <% if json['ItinerariesItemsProgramEventsName'].to_s != ""%>
      <% programtime = DateTime.strptime(json['ItinerariesItemsProgramEventsStarttime'].to_s,"%H%M")%>
      <div class="col-sm-1 col-sm-offset-1 col-xs-2">
        <%= programtime.strftime("%-I:%M")%>
      </div>
      <div class="col-sm-4 col-xs-10">
        <%= json['ItinerariesItemsProgramEventsName'] %>
      </div>
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-2">
        <em><%= json['ItinerariesItemsProgramEventsLocationsName'] %></em>
      </div>
    <%else%>
      <div class="col-xs-12"></div>
    <%end%>
  </div>

<%end%>
