<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<% file = open('http://signs.adventuresci.org/data/todaysold.xml').read%>
<% file.gsub! '<d:', '<'%>
<% file.gsub! '<m:', '<'%>
<% xml = Nokogiri::XML(file)%>

<% if xml.at('StateDate').nil? %>
  <h1>Ticket Sales</h1>
  <p>No ticket sales have been made for today's shows.</p>
<% else %>
  <% date = DateTime.strptime(xml.at('StateDate').text,"%Y-%m-%dT%H:%M:%S")%>
  <div class="visible-xs"><h1>Ticket Sales<br/><small><%= date.strftime("%A, %B %-d")%></small></h1></div>
  <div class="hidden-xs"><h1>Ticket Sales <small><%= date.strftime("%A, %B %-d")%></small></h1></div>
<% end %>

<div class="list-group">
  <%xml.css('entry').each do |node|%>
    <div class="list-group-item">
      <% time = DateTime.strptime(node.at('StartTime').text,"%H%M")%>
      <%= time.strftime("%-I:%M")%> <%= node.at('Name').text%>
      <div class="progress">
        <% sold = node.at('TicketQuantity').text.to_i%>
        <% refunded = node.at('TicketNumberRefunded').text.to_i%>
        <% sold -= refunded %>
        <% capacity = node.at('SalesOrderItemSalesOrderItemTicketProgramEventsCapacity').text%>
        <% fraction = (sold / capacity.to_f * 100) %>
        <% refraction = (refunded / capacity.to_f * 100) %>
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=" <%=sold%> " aria-valuemin="0" aria-valuemax="<%=capacity%>" style="min-width: 1em; width: <%= fraction.round(1) %>% ;">
          <%= sold %>
        </div>
        <% if refunded != 0 %>
            <div class="progress-bar progress-bar-danger" style="min-width: 1em; width: <%= refraction.round(1) %>%">
              <span class="sr-only"><%= refunded%> tickets refunded</span>
              <%=refunded%>
            </div>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
