<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<% file = open('http://signs.adventuresci.org/data/todaysold.xml').read%>
<% file.gsub! '<d:', '<'%>
<% file.gsub! '<m:', '<'%>
<% xml = Nokogiri::XML(file)%>

<% if xml.at('StateDate').nil? %>
  <h1>Ticket Sales</h1>
  <p>No ticket sales have been made for today's shows.</p>
<% else %>
  <% date = DateTime.strptime(xml.at('StateDate').text,"%Y-%m-%dT%H:%M:%S")%>
  <div class="visible-xs"><h1>Ticket Sales<br/><small><%= date.strftime("%A, %B %-d")%></small></h1></div>
  <div class="hidden-xs"><h1>Ticket Sales <small><%= date.strftime("%A, %B %-d")%></small></h1></div>
<% end %>

<div class="list-group">
  <%xml.css('entry').each do |node|%>
    <div class="list-group-item">
      <% time = DateTime.strptime(node.at('StartTime').text,"%H%M")%>
      <%= time.strftime("%-I:%M")%> <%= node.at('Name').text%>
      <div class="progress">
        <% sold = node.at('TicketQuantity').text.to_i%>
        <% refunded = node.at('TicketNumberRefunded').text.to_i%>
        <% sold -= refunded %>
        <% capacity = node.at('SalesOrderItemSalesOrderItemTicketProgramEventsCapacity').text%>
        <% fraction = (sold / capacity.to_f * 100) %>
        <% refraction = (refunded / capacity.to_f * 100) %>
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=" <%=sold%> " aria-valuemin="0" aria-valuemax="<%=capacity%>" style="min-width: 1em; width: <%= fraction.round(1) %>% ;">
          <%= sold %>
        </div>
        <% if refunded != 0 %>
            <div class="progress-bar progress-bar-danger" style="min-width: 1em; width: <%= refraction.round(1) %>%">
              <span class="sr-only"><%= refunded%> tickets refunded</span>
              <%=refunded%>
            </div>
        <%end%>
      </div>
    </div>
  <%end%>
</div>


<% soldlink = "https://altrurig01bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=6759ade2-c62f-48c9-9a69-4d60e5a14c92"%>
<%# soldlink = "http://signs.adventuresci.org/data/samplesold.xml" %>
<%# cancellink = "http://signs.adventuresci.org/data/samplerefunded.xml" %>
<% user = ENV['altru_user']%>
<% pass = ENV['altru_pass']%>

<% altrusold = open(soldlink, http_basic_authentication: [user, pass]).read%>
<%# altrucancel = open(soldlink, http_basic_authentication: [user, pass]).read%>

<% altrusold.gsub! '<d:', '<'%>
<% altrusold.gsub! '<m:', '<'%>
<% sold = Nokogiri::XML(altrusold)%>

<%# altrucancel.gsub! '<d:', '<'%>
<%# altrucancel.gsub! '<m:', '<'%>
<%# canceled = Nokogiri::XML(altrucancel)%>

<% if sold.at('Date').nil? %>
  <h1>Ticket Sales</h1>
  <p>No ticket sales have been made for today's shows.</p>
<% else %>
  <% date = DateTime.strptime(sold.at('Date').text,"%Y-%m-%dT%H:%M:%S")%>
  <div class="visible-xs"><h1>Ticket Sales<br/><small><%= date.strftime("%A, %B %-d")%></small></h1></div>
  <div class="hidden-xs"><h1>Ticket Sales <small><%= date.strftime("%A, %B %-d")%></small></h1></div>
<% end %>

<div class="list-group">
  <% sold.css('entry').each do |node|%>
    <%eventid=""%>
    <div class="list-group-item">
      <% time = DateTime.strptime(node.at('Time').text,"%H%M")%>
      <%= time.strftime("%-I:%M")%> <%= node.at('Show').text%>
      <div class="progress">
        <% count = node.at('Count').text.to_i%>
        <% capacity = node.at('Capacity').text%>
        <% fraction = (count / capacity.to_f * 100) %>
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=" <%=count%> " aria-valuemin="0" aria-valuemax="<%=capacity%>" style="min-width: 1em; width: <%= fraction.round(1) %>% ;">
          <%= count %>
        </div>
<%#
            <div class="progress-bar progress-bar-danger" style="min-width: 1em; width: <%= canceledfrac.round(1) %><!--%">-->
<%#
              <span class="sr-only"><%= canceledcount%> <%# tickets refunded</span>
              <%=canceledcount%>
<!--            </div>
-->
      </div>
    </div>
  <%end%>
</div>

