<% @title="Ticket Sales" %>
<% @refresh="60" %>

  <% user = ENV['altru_user']%>
  <% pass = ENV['altru_pass']%>


<% showslink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=0c0ed47b-9dfd-41f5-b0ed-4a4610b43805"%>
<% soldlink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=156c820a-bf80-4517-ac99-5e9394b7c03b"%>
<% reslink = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=cf6e61d0-5fa9-49cc-8d33-8811626f47d9"%>

<% showodata = open(showslink, http_basic_authentication: [user, pass]).read %>
<% soldodata = open(soldlink, http_basic_authentication: [user, pass]).read %>
<% resodata = open(reslink, http_basic_authentication: [user, pass]).read %>

<% showjson = JSON.parse showodata %>
<% soldjson = JSON.parse soldodata %>
<% resjson = JSON.parse resodata %>

<div class="list-group">
  <% showjson["value"].each do |show|%>
    <% totalpercent = 0 %>
    <% count = 0 %>
    <% soldpercent = 0 %>
    <div class="list-group-item">
      <% time = DateTime.strptime(show['ProgramEventsStarttime'],"%H%M")%>
      <%= time.strftime("%-I:%M")%> <%= show['ProgramEventsName']%>
      <div class="progress">
        <% soldjson["value"].each do |sold|%>
          <% if show["txobjid"] == sold["txobjid"] %>
            <% count = sold['Count']%>
            <% capacity = sold['Capacity']%>
            <% soldpercent = (count / capacity.to_f * 100).round(1) %>
            <% totalpercent += soldpercent %>
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow=" <%=count%> " aria-valuemin="0" aria-valuemax="<%=capacity%>" style="width: <%= soldpercent %>% ;">
              <%= count %>
            </div>
          <%end%>
        <%end%>
        <% resjson["value"].each do |res|%>
          <% if show["txobjid"] == res["txobjid"] %>
            <% rescount = res['Count']%>
            <% capacity = res['Capacity']%>
            <% respercent = (rescount / capacity.to_f * 100).round(1) %>
            <% totalpercent += respercent%>
            <% count += rescount %>
            <% barclass = "progress-bar-info"%>
            <% if count > capacity %>
              <% barclass = "progress-bar-danger"%>
            <% end %>
            <% if totalpercent > 100 %>
              <% respercent = 100 - soldpercent %>
            <% end %>
            <div class="progress-bar <%= barclass %> progress-bar-striped" role="progressbar" aria-valuenow=" <%=rescount%> " aria-valuemin="0" aria-valuemax="<%=capacity%>" style="width: <%= respercent %>% ;">
              <%= rescount %>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  <%end%>
</div>



