<!DOCTYPE html>
<html>
  <head>
    <title><% if !@title.nil?%><%=@title%> - ASC staff<%else%>ASC staff<%end%></title>
    <%= csrf_meta_tags %>
    <% if !@refresh.nil?%><meta http-equiv="refresh" content="<%=@refresh%>"><%end%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <h1><%=@title%></h1>
      <div class="only-print" style="text-align:center;">
        <hr>
        <h2>This information may be outdated</h2>
        <h4>When possible, save paper and stay current&mdash;<br/>visit staff.adventuresci.org from any device.</h4>
        <hr>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
