<!DOCTYPE html>
<html>
  <head>
    <title><% if !@title.nil?%><%=@title%> - ASC staff<%else%>ASC staff<%end%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <blockquote>
        <p>Work in progress&hellip; please let me know if you manage to catch a glitch or error page. Thanks!</p>
        <footer>Derrick</footer>
      </blockquote>
      <h1><%=@title%></h1>
      <%= yield %>
    </div>
  </body>
</html>
